
.DS_Store
.AppleDouble


__pycache__/
*.py[cod]
.venv/
pip-log.txt
pip-delete-this-directory.txt


media/
/media/
staticfiles/
/staticfiles/
*.sqlite3
*.log

.git

node_modules
*.log


.env
.env.*
.env.local
secrets.json


Gocabservices/settings/local_override.py
Gocabservices/settings/local_*.py